.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.border {
    border: solid 1px black;
}

.text-center{
    text-align: center;
}

.h-600{
   height: 600px;
}

html{
    background-color: darkgray;
}


.m-1{
    margin: 1em;
}
.p1{
padding: 1em;
}

.teal{
    background-color: teal;
}

.bb{
    border-bottom: solid 1px lightslategray;
}

.mx{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.back-white{
    background-color: white;
}

.flex{
    display: flex;
}

.text-white{
    color: white;
}

#Foto{
    background-image: url(https://picsum.photos/500/300);
    height: 10em;
    align-items: flex-end;
}

#Foto div{
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

.pb-1{
    padding-bottom: 0.5em;
}

.skill-box{
    background-color: lightgray;

}

.br{
    border-radius: 10px;
}

.leng-box{
    height: 1.2em;
}

.pers-info{
    font-family: Arial, Helvetica, sans-serif;
}

.section-title{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.text-teal{
    color: teal;
}

.current{
    background-color: teal;
    padding: 0 0.5em;
    border-radius: 10px;
}

.py{
    padding-top: 1em;
    padding-bottom: 1em;
}